<!-- brand cards-->
<ul class="row" id="brand-card">
    <% let getCategoryById = (categoryId) => {
        let result;
        categories.forEach(category => {
            if(category._id.equals(categoryId)) {
                result = category;
            }
        });
        return result;
    } %>
    <% results.forEach(brand => {
        let category = getCategoryById(brand.category._id);
    %>
    <li class="col col-12 col-md-6 col-xl-4 card-wrapper">
        <div tabindex="0"
             class="card-body <%= category.lightColor %> d-flex"
             onclick="location.href='/brand/<%=brand._id%>';"
             aria-label="brand card"
             data-id="<%=brand._id%>">
            <img class="brand-logo" src="<%= brand.image %>" alt="Logo of <%= brand.name %>">
            <div>
                <a href="/brand/<%=brand._id%>" class="brand-name" tabindex="-1" aria-label="Brand's name: <%= brand.name %>"><%= brand.name %></a>
                <p class="brand-slogan"><%= brand.slogan %></p>
            </div>
        </div>
    </li>
    <% })%>
</ul>
