<!-- brand cards-->
<ul class="row" id="brand-card">
    <% let getCategoryById = (categoryId) => {
        let result;
        categories.forEach(category => {
            if(category._id.equals(categoryId)) {
                result = category;
            }
        });
        return result;
    } %>
    <% results.forEach(brand => {
        let category = getCategoryById(brand.category._id);
    %>
    <li class="col col-12 col-md-6 col-xl-4 card-wrapper" >
        <div
            class="card-body <%= category.lightColor %> d-flex"
            onclick="location.href='/brand/<%=brand._id%>';"
            data-id="<%=brand._id%>"
        >
            <div class="order-2">
                <a href="/brand/<%=brand._id%>" class="brand-name"><%= brand.name %></a>
                <div class="brand-slogan"><%= brand.slogan %></div>
            </div>
            <img class="brand-logo order-1" src="<%= brand.image %>" alt="Logo of <%= brand.name %>">

            <% if(loggedIn && currentUser.savedBrands.length !== 0 && currentUser.savedBrands.includes(brand._id)) { %>
            <div class="saved-icon">
                <svg focusable="false" aria-label="This brand is saved" role="img" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.3429 2H7.05714C5.92571 2 5.01029 3.05 5.01029 4.33333L5 23L12.2 16.4L19.4 23V4.33333C19.4 3.05 18.4743 2 17.3429 2Z" fill="#0D4813"/>
                </svg>
            </div>
            <%} %>
        </div>
    </li>
    <% })%>
</ul>
