<!-- brand cards-->
<ul class="row brand-card" id="popular-brand-card">
    <% let getCategoryById = (categoryObject) => {
        let result;
        categories.forEach(category => {
            if(category._id.equals(categoryObject._id)) {
                result = category;
            }
        });
        return result;
    } %>
    <% popularBrands.forEach(brand => {
        let category = getCategoryById(brand.category);
    %>
    <li class="col col-12 col-md-6 card-wrapper">
        <div tabindex="0"
             class="card-body d-flex position-relative"
             onclick="location.href='/brand/<%=brand._id%>';"
             aria-label="brand card"
             data-id="<%=brand._id%>">
            <img class="brand-logo" src="<%= brand.image %>" alt="Logo of <%= brand.name %>" width="100" height="100">
            <div class="ms-3">
                <a href="/brand/<%=brand._id%>" class="brand-name" tabindex="-1" aria-label="Brand's name: <%= brand.name %>"><%= brand.name %></a>
                <p class="brand-slogan"><%= brand.slogan %></p>
            </div>
        </div>

    </li>
    <% })%>
</ul>
