<!-- brand cards-->
<ul class="row brand-card">
    <% popularBrands.forEach(brand => { %>
    <li class="col col-3 card-wrapper" >
        <div class="card" onclick="location.href='/brand/<%=brand._id%>';" data-id="<%=brand._id%>">
            <img class="card-img-top brand-logo" src="<%= brand.image %>" alt="Logo of <%= brand.name %>">
            <% if(loggedIn && currentUser.savedBrands.length !== 0 && currentUser.savedBrands.includes(brand._id)) { %>
                <div class="saved-icon">
                    <svg focusable="false" aria-label="This brand is saved" role="img" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.3429 2H7.05714C5.92571 2 5.01029 3.05 5.01029 4.33333L5 23L12.2 16.4L19.4 23V4.33333C19.4 3.05 18.4743 2 17.3429 2Z" fill="#0D4813"/>
                    </svg>
                </div>
            <%} %>
            <div class="card-body">
                <a href="/brand/<%=brand._id%>" class="card-title brand-name"><%= brand.name %></a>
                <div class="card-text brand-slogan"><%= brand.slogan %></div>
            </div>
        </div>
    </li>
    <% })%>
</ul>
