<svg focusable="false" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>

<div class="container mt-5 mb-5 pl-3 pr-3" id="edit-profile">
    <h1 class="mt-3 mb-3 text-center">Edit profile</h1>

    <div id="edit-section" class="mt-5 container">
        <!--   User name     -->
        <div class="row mb-3" id="edit-username-section">
            <div class="d-flex align-items-center justify-content-start">
                <h2 id="username-label" class="edit-label mb-2">Your name</h2>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center" id="showing-username">
                <div class="d-flex flex-row align-items-center">
                    <div id="user-name"><%= user.username %></div>
                    <span class="d-none success-icon ml-3">
                        <svg focusable="false" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9998 2.66675C8.63584 2.66675 2.6665 8.63608 2.6665 16.0001C2.6665 23.3641 8.63584 29.3334 15.9998 29.3334C23.3638 29.3334 29.3332 23.3641 29.3332 16.0001C29.3332 8.63608 23.3638 2.66675 15.9998 2.66675ZM13.3332 23.2187L7.05717 16.9427L8.9425 15.0574L13.3332 19.4481L23.0572 9.72408L24.9425 11.6094L13.3332 23.2187Z" fill="#425A49"/>
                        </svg>
                    </span>
                    <span class="d-none ms-2 success-message" role="status" tabindex="0"> Saved</span>
                </div>

                <button class="btn btn-outline-primary edit-btn" id="username-edit-button" aria-label="Edit your name">Edit</button>
            </div>
            <div id="editing-username" class="d-none">
                <form action="<%=`/user/update/username`%>" method="POST" id="edit-username-form">
                    <div class="d-flex flex-column">
                        <input aria-labelledby="username-label" type="text" id="edit-username" name="username" class="form-control edit-input" autocomplete="off" aria-required="true" value="<%= user.username %>">
                        <!-- Error message -->
                        <div class="d-none error-message"></div>
                        <!-- Error message -->
                        <div class="d-flex flex-row justify-content-end mt-2">
                            <button class="btn btn-outline-primary ms-2 me-2 cancel-button" id="edit-username-cancel-button">Cancel</button>
                            <button class="btn btn-primary save-button" id="edit-username-save-button" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr class="horizontal-line mt-3" aria-hidden="true">
        </div>

        <!--   User email     -->
        <div class="row mb-3" id="edit-email-section">
            <h2 id="email-label" class="edit-label mb-2">Email</h2>

            <div class="d-flex flex-row justify-content-between align-items-center" id="showing-email">
                <div class="d-flex flex-row align-items-center">
                    <div id="user-email"><%= user.email %></div>
                    <span class="d-none success-icon ml-3">
                        <svg focusable="false" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9998 2.66675C8.63584 2.66675 2.6665 8.63608 2.6665 16.0001C2.6665 23.3641 8.63584 29.3334 15.9998 29.3334C23.3638 29.3334 29.3332 23.3641 29.3332 16.0001C29.3332 8.63608 23.3638 2.66675 15.9998 2.66675ZM13.3332 23.2187L7.05717 16.9427L8.9425 15.0574L13.3332 19.4481L23.0572 9.72408L24.9425 11.6094L13.3332 23.2187Z" fill="#425A49"/>
                        </svg>
                    </span>
                    <span class="d-none ms-2 success-message" role="status" tabindex="0">Saved</span>
                </div>

                <%if(!user.googleId) {%>
                    <button class="btn btn-outline-primary edit-btn" id="email-edit-button" aria-label="Edit your email">Edit</button>
                <% } %>
            </div>

            <div id="editing-email" class="d-none">
                <form action="<%=`/user/update/email`%>" method="POST" id="edit-email-form">
                    <div class="d-flex flex-column">
                        <div class="alert alert-warning d-flex align-items-center mt-1 pt-1 pb-1" role="alert">
                            <svg focusable="false" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                            <div>
                                You will be logged out after successfully changing your email.
                            </div>
                        </div>

                        <div>
                            <label id="current-email-label" for="new-email" class="email-label">New email</label>
                            <input type="email" id="new-email" name="email" class="form-control edit-input" autocomplete="off" aria-required="true">
                            <!-- Error message -->
                            <div class="d-none error-message"></div>
                            <!-- Error message -->
                        </div>

                        <div class="mt-3">
                            <label id="confirm-email-label" for="confirm-email" class="confirm-email-label">Confirm new email</label>
                            <input type="email" id="confirm-email" name="confirmEmail" class="form-control edit-input" autocomplete="off" aria-required="true" value="">
                            <!-- Error message -->
                            <div class="d-none error-message"></div>
                            <!-- Error message -->
                        </div>
                        <div class="d-flex flex-row justify-content-end  mt-2">
                            <button class="btn btn-outline-primary ms-2 me-2 cancel-button" id="edit-email-cancel-button">Cancel</button>
                            <button class="btn btn-primary save-button" id="edit-email-save-button" onclick="return confirm(`Are you sure you want to change your email? You will be logged out after saving your new email.`)" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr class="horizontal-line mt-3" aria-hidden="true">
            <%if(user.googleId) {%>
                <div class="alert alert-info d-flex align-items-center mt-1 pt-1 pb-1" role="alert">
                    <svg focusable="false" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                    <div>
                        You can't edit your email address because your profile is connected with your Google account. If you would like to change your email, <span><a href="/contact">please contact us</a>.</span>
                    </div>
                </div>
            <%} %>
        </div>

        <%if(!user.googleId) {%>
        <!--   User password   -->
        <div class="row mb-3" id="edit-password-section">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center justify-content-start">
                    <h2 id="password-label" class="edit-label">Password</h2>
                    <span class="d-none success-icon ml-3">
                        <svg focusable="false" aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9998 2.66675C8.63584 2.66675 2.6665 8.63608 2.6665 16.0001C2.6665 23.3641 8.63584 29.3334 15.9998 29.3334C23.3638 29.3334 29.3332 23.3641 29.3332 16.0001C29.3332 8.63608 23.3638 2.66675 15.9998 2.66675ZM13.3332 23.2187L7.05717 16.9427L8.9425 15.0574L13.3332 19.4481L23.0572 9.72408L24.9425 11.6094L13.3332 23.2187Z" fill="#425A49"/>
                        </svg>
                    </span>
                    <span class="d-none ms-2 success-message" role="status" tabindex="0">Saved</span>
                </div>
                <button class="btn btn-outline-primary edit-btn" id="password-edit-button" aria-label="Edit your password">Edit</button>
            </div>

            <form action="<%=`/user/update/password`%>" method="POST" id="edit-password-form" class="d-none mt-2">
                <div class="d-flex flex-column">
                    <div>
                        <label id="current-password-label" for="current-password" class="password-label">Current password</label>
                        <input type="password" id="current-password" name="currentPassword" class="form-control edit-input mb-2" aria-required="true" autocomplete="current-password">
                        <!-- Error message -->
                        <div class="error-message"></div>
                        <!-- Error message -->
                    </div>

                    <div class="mt-3">
                        <label id="new-password-label" for="new-password" class="password-label">New password</label>
                        <input type="password" id="new-password" name="newPassword" class="form-control edit-input mb-2" aria-required="true" autocomplete="off">
                        <!-- Error message -->
                        <div class="error-message"></div>
                        <!-- Error message -->
                    </div>

                    <div class="mt-3">
                        <label id="new-password-repeat-label" for="new-password-repeat" class="password-label">Confirm new password</label>
                        <input type="password" id="new-password-repeat" name="newPasswordRepeat" class="form-control edit-input mb-2" aria-required="true" autocomplete="off">
                        <!-- Error message -->
                        <div class="error-message"></div>
                        <!-- Error message -->
                    </div>

                    <div class="d-flex flex-column mt-1">
                        <label for="show-edit-password" class="show-password-label"><input type="checkbox" id="show-edit-password">Show passwords</label>

                        <div class="d-flex flex-row justify-content-end  mt-2">
                            <button class="btn btn-outline-primary ms-2 me-2 cancel-button" id="edit-password-cancel-button">Cancel</button>
                            <button class="btn btn-primary save-button" id="edit-password-save-button" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </form>

            <hr class="horizontal-line mt-3" aria-hidden="true">
        </div>
        <%}%>
    </div>
</div>
