<div id="profile-page">

  <div class="col-12 col-lg-8 col-xxl-4 profile-general">
    <div class="username-background">
      <h1 class="user-name"><%= user.username %></h1>
    </div>

    <div class="d-flex justify-content-center align-items-center edit-profile">
      <svg role="img" focusable="false" aria-labelledby="edit-profile-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <title id="edit-profile-icon" class="d-none">A circle with a pen in the center</title>
        <circle cx="12" cy="12" r="12" fill="#0D4813"/>
        <g clip-path="url(#clip0_77_168)">
          <path d="M15.8845 10.9615L9.5635 17.281L6 18L6.719 14.436L13.0395 8.116L15.8845 10.9615ZM16.5915 10.2545L18 8.8445L15.1545 6L13.7465 7.4085L16.5915 10.2545Z" fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_77_168">
            <rect width="12" height="12" fill="white" transform="translate(6 6)"/>
          </clipPath>
        </defs>
      </svg>
      <a href="/user/edit" id="edit-link" class="edit-profile-link">Edit profile</a>
    </div>

    <div class="d-flex flex-row profile-summary">
      <div class="summary-background">
        <div class="summary-nr">
          <span class="visually-hidden">Number of saved brands: </span>
          <span class="fw-bold"><%= savedBrands.length %></span>
          <span class="d-block" aria-hidden="true">saved</span>
        </div>
      </div>
      <div class="summary-background">
        <div class="summary-nr">
          <span class="visually-hidden">Number of submitted brands: </span>
          <span class="fw-bold"><%=recommendedBrands.length %></span>
          <span class="d-block" aria-hidden="true">submitted</span>
        </div>
      </div>
    </div>
  </div>


  <div class="brands-list col-12 col-xxl-8">
    <div class="brands-list-wrapper">
      <a class="dropdown-toggle text-decoration-none" role="button" data-bs-toggle="collapse" href="#saved-brands-list" aria-expanded="true" aria-controls="saved-brands-list">
        My saved eco brands
      </a>
      <% if (savedBrands.length > 0) { %>
        <div class="collapse show mt-3" id="saved-brands-list">
          <div>
          <%- include ('../components/savedBrandCard') %>
          </div>
        </div>
      <% } else { %>
          <div class="collapse show mt-3 empty-collection" id="saved-brands-list">
            <p class="mb-0">You currently have 0 saved brand.</p>
          </div>
      <% } %>
    </div>

    <div class="brands-list-wrapper">
      <div class="d-flex flex-row align-items-center justify-content-start">
        <a class="dropdown-toggle text-decoration-none" role="button" data-bs-toggle="collapse" href="#recommended-brands-list" aria-expanded="true" aria-controls="recommended-brands-list">
          Submitted brands
        </a>
        <a class="ms-4" role="button" href="/user/recommendation" aria-label="Submit a new brand">
          <svg focusable="false" aria-hidden="true" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1338_2283)">
              <g filter="url(#filter0_d_1338_2283)">
                <path d="M34.6667 18.6663H29.3334V29.333H18.6667V34.6663H29.3334V45.333H34.6667V34.6663H45.3334V29.333H34.6667V18.6663ZM32 5.33301C17.28 5.33301 5.33337 17.2797 5.33337 31.9997C5.33337 46.7197 17.28 58.6663 32 58.6663C46.72 58.6663 58.6667 46.7197 58.6667 31.9997C58.6667 17.2797 46.72 5.33301 32 5.33301ZM32 53.333C20.24 53.333 10.6667 43.7597 10.6667 31.9997C10.6667 20.2397 20.24 10.6663 32 10.6663C43.76 10.6663 53.3334 20.2397 53.3334 31.9997C53.3334 43.7597 43.76 53.333 32 53.333Z" fill="#5E7966"/>
              </g>
            </g>
            <defs>
              <filter id="filter0_d_1338_2283" x="1.33337" y="5.33301" width="61.3334" height="61.333" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1338_2283"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1338_2283" result="shape"/>
              </filter>
              <clipPath id="clip0_1338_2283">
                <rect width="64" height="64" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>
      <% if (recommendedBrands.length > 0) { %>
        <div class="collapse show mt-3" id="recommended-brands-list">
          <div>
            <%- include ('../components/recommendedBrandCard') %>
          </div>
        </div>

      <% } else { %>
        <div class="collapse show mt-3 empty-collection" id="recommended-brands-list">
          <p class="mb-0">You currently have 0 submitted brand. <a href="/user/recommendation">Send your recommendation</a>.</p>
        </div>
      <% } %>
    </div>

  </div>
</div>
