<div class="container-fluid" id="detail-page">
  <div class="row">
    <div class="<%= categoryClass %>" id="category-bg">
      <img class="app-logo" src="<%= brandImg %>" alt="Logo of <%= brand.name %>">
    </div>
  </div>
  <div class="app-title">
    <h1>
      <%= brand.name %>
    </h1>
  </div>
  <div class="description container">
    <p>
      <%= brand.description %>
    </p>
  </div>
  <div class="bottom-part d-flex justify-content-center">
      <button id="website-button" class="btn btn-outline-primary m-3" onclick="location.href='<%=brand.website%>'">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 3C3.90694 3 3 3.90694 3 5V19C3 20.0931 3.90694 21 5 21H19C20.0931 21 21 20.0931 21 19V12H19V19H5V5H12V3H5ZM14 3V5H17.5859L8.29297 14.293L9.70703 15.707L19 6.41406V10H21V3H14Z"/>
        </svg>
        <span>Website</span>
      </button>
    <%if (isSaved) { %>
      <button id="save-button" class="btn btn-outline-primary m-3 saved" data-id="<%=brand._id%>">
        <svg data-id="<%=brand._id%>" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path data-id="<%=brand._id%>" d="M6.01 5.00062V5C6.01 4.44575 6.4588 4 7 4H17C17.5477 4 18 4.45228 18 5V19.4835L12.3939 17.0809L12 16.912L11.6061 17.0809L6.00095 19.4831L6.01 5.00062Z"/>
        </svg>
        <span data-id="<%=brand._id%>">Unsave</span>
      </button>
      <%} else {%>
      <button id="save-button" class="btn btn-outline-primary m-3" data-id="<%=brand._id%>">
        <svg data-id="<%=brand._id%>" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path data-id="<%=brand._id%>" d="M6.01 5.00062V5C6.01 4.44575 6.4588 4 7 4H17C17.5477 4 18 4.45228 18 5V19.4835L12.3939 17.0809L12 16.912L11.6061 17.0809L6.00095 19.4831L6.01 5.00062Z"/>
        </svg>
        <span data-id="<%=brand._id%>">Save</span>
      </button>
      <%}%>
  </div>
</div>
